@model PruebaTecnica.ViewModels.UpdatePrestamoViewModelcs
<div class="modal fade" tabindex="-1" id="editarPrestamo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Prestamo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- Campos del formulario -->
                    <div class="mb-3">
                        <label for="NombrePersona" class="form-label">Persona Asignada</label>
                        <input type="text" class="form-control" id="NombrePersona" name="NombrePersona" value="@Model.Prestamo.NombrePersona">
                    </div>
                    <div class="mb-3">
                        <label for="IdMarca" class="form-label">Marca</label>
                        <select class="form-select" id="IdMarca" name="IdMarca" onchange="cargarProductos()">
                            @foreach (var marca in Model.LstMarcas)
                            {
                                <option value="@marca.IdMarca" selected="@((Model.Prestamo?.Equipo?.IdMarca == marca.IdMarca) ? "selected" : null)">@marca.NombreMarca</option>

                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="IdEquipo" class="form-label">Marca</label>
                        <select class="form-select" id="IdEquipo" name="IdEquipo">
                           <option value="@Model.Prestamo.IdEquipo">@Model.Prestamo.Equipo.NombreEquipo </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="FechaInicio" class="form-label">Fecha Inicio</label>
                        <input type="date" class="form-control" id="FechaInicio" name="FechaInicio" value="@Model.Prestamo.FechaInicio.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="mb-3">
                        <label for="FechaFin" class="form-label">Fecha Fin</label>
                        <input type="date" class="form-control" id="FechaFin" name="FechaFin" value="@Model.Prestamo.FechaFin.ToString("yyyy-MM-dd")">
                    </div>
                    <!-- Botones de acción -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="editarPrestamo(@Model.Prestamo.IdPrestamo)">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>